html{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    background-color: #E3D5D1;
}
.inge{
    background-color: #E3D5D1;
}
.inicio{
    background-color: #F1C40F;
}
header{
    background-color: #EC8163;
    color: white;
    padding: 1rem;
}
header h1{
    font-size: 2rem;
    text-align: center;
}
header p{
    font-size: 20px;
    float: left;
}
header a{
    float: right;
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
    font-size: 20PX;
}
header a:hover{
    color: black;
}
img{
    float: left;
    margin-inline-start: 14px;
}
.cabecera{
    background-image: url(../Imagenes/fondo.png);
    background-size: cover;
}
.arriba{
    margin-block-start: 1em;
    margin-block-end: 2em;
    margin-inline-start: 70px;
    margin-inline-end: 70px;

}
.superior{
    border-collapse: collapse;
    display: block;
    margin-block-start: 1px;
    margin-block-end: 1em;
    margin-inline-start: 25px;
    margin-inline-end: 0px;
}
.superior th, .superior td{
    border: solid 1px red;
    padding: 20px;
}
.superior th{
    background-color: #F2A76F;
    color: white;
    text-align: left;
}
.superior tr:nth-child(even){
    background-color: #eee;
}
.superior tr:hover {
    background-color: #aaa;
    cursor: pointer;
}
.centro{
    position: sticky;
}
.container{
    width: 600px;
    margin: 0 auto;
}
.inicio{
    transition: all 0.3s ease;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
    width: 500px;
    padding: 30px 0px;
    margin: 30px auto;
}

.inicio:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,3);
}
footer{
    background-color: #222;
    padding: 2rem;
    color: #fff;
    margin-block-start: 1em;
}
footer section{
    float: right;
}
footer p{
    margin: 0;
}
footer a{
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: #E39525;
}
.inferior{
    border-style: dashed;
    border-color: rgb(155, 56, 56);
    border-radius: 5px;
    border-width: 3px;
    margin: 0px 20px 0px 20px;
}
.pedido{
    transition: all 0.3s ease;
    background-color: burlywood;
    border-radius: 0.5rem;
    padding: 0.25rem 0.25rem;
    cursor: pointer;
    width: 450px;
    margin: 20px 20px;    
    display: inline-block;
}
.pedido:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,3);
}
h3{
    font-size: 2rem;
    margin: 10px ;
    color: rgb(155, 56, 56);
}
.historial{
    border-collapse: collapse;
    display: block;
    margin-block-start: 1px;
    margin-block-end: 1em;
    margin-inline-start: 25px;
    margin-inline-end: 5em;
}
.historial th, .historial td{
    border: solid 1px black;
    padding: 20px;
}
.historial th{
    background-color: white;
    color: black;
    text-align: left;
}
.historial td{
    background-color: blanchedalmond;
}
.historial tr:hover {
    background-color: #aaa;
    cursor: pointer;
}
.logo img{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin-bottom: 5px;
}
.logo p{
    padding: 15px;
    margin-top: 50px;
    margin-left: -70px;
}

@media screen and (max-width:580px){
	body {
		font-size:80%;
	} 

    header h1{
        font-size: 2rem;
    }

    .cabecera .inicio .arriba{
        width: 200px;
    }

    
    .pedido{
        width: auto;
    }

}