.Nosotros{
    height: 80vh;
    background-position: left;
}
.Nosotros img{
    max-width: 50%;
    
}
.Mision{
    padding: 30px;
}
@media screen and (max-width: 767px) {
    .Mision h2{
        font-size: 14px;
    }
    .Mision p{
        font-size: 12px;
    }
    .Mision ul{
        font-size: 12px;
    }
}
