*{
    padding: 0;
    margin: 0;
}
.navbar{
    padding: 2rem;
    background: #DCFCFF;
}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
.fondo {
    height: 60vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.fondo img{
    max-width: 50%;
}
.hero{
    padding: 30px;
    background: #DCFCFF;
}
.hero a{
    color: black;
}
.row{
    background-color: #f5f6f7;
    height: 150px;
}
.container a{
    color: black;
}
.row img{
    padding-top: 30px;
}
.contacto img{
    padding-left: 10px;
}
.contacto button img{
    color: white;
    margin:10px;
    margin-top: -5px;
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
    .hero{
        padding:10px;
    }
    .container p {
        display: none;
    }
    .contacto a{
        display: none;
    }
    .contacto button img{
        margin:0;
    }
}
@media screen and (max-width: 410px){
    .fondo img{
        display: none;
    }

}